{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/jadwal.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Italianno|Montserrat:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5ac12ca84.js"></script>
    <title>Jadwal</title>
</head>
<body>
    <div class="jadwal">
        <div class="juduljadwal d-flex justify-content-center">
            <p>
                <b>Jadwal</b>
            </p>
        </div>
        <div class="jadwal2">
            <form action="" method="POST">
                {% csrf_token %}
                {{ formulir }}
                <div class = "centre-items" style = "margin-top: 2%">
                    <input type = "submit" class="btn btn-primary" value="masukan"> 
                </div>
            </form>
        </div>
        <div class="table-responsive" id="Table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nama Kegiatan</th>
                        <th scope="col">Tempat Kegiatan</th>
                        <th scope="col">Hari Kegiatan</th>
                        <th scope="col">Waktu Kegiatan</th>
                        <th scope="col">Kategori Kegiatan</th>
                        <th scope="col">Tanggal Dibuat</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for i in jadwal %}
                <tbody>
                    <tr>
                        <td>{{i.nama_kegiatan}}</td>
                        <td>{{i.tempat_kegiatan}}</td>
                        <td>{{i.hari_kegiatan}}</td>
                        <td>{{i.waktu_kegiatan}}</td>
                        <td>{{i.kategori_kegiatan}}</td>
                        <td>{{i.waktu_dibuat}}</td>
                        <td>
                            <a  href = "{% url 'hapus' pk=i.pk %}">
                                <button class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </a>
                        </td> 
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="home d-flex justify-content-center">
            <a href="/">
                Home
            </a>
        </div>
    </div>
</body>
</html>