* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
}
.home {
    background-color: #005073;
}

.home .header{
    padding-top: 2rem;
}
.navbar-nav{
    padding-right: 2rem;
    padding-left: 2rem;
}
.tulisan{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #FBFDFB;
}
.judul{
    font-family: 'Italianno', cursive;
    font-size: 5rem;
    line-height: 8rem;
    text-align: center;
    color: #FBFDFB;
    padding: 12rem 2rem;
}
.home .tulisan a{
    text-decoration: none;
    color: #FBFDFB;
}








.about{
    padding: 4rem;
}
.photo{
    display: flex;
    align-items: center;
}
.photo img{
    max-height: 500px;
}
.about2 .tulisan p{
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    max-width: 50vw;
}
.about2 h1{
    color: #000000;
    font-size: 3rem;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}
.about2 .tulisan{
    text-align: justify;
}
.about2 .photo{
    margin-right: 28px;
}
.about2{
    padding: 0;
}
.about .navbar-nav{
    padding-top: 2rem;
    padding-bottom: 0;
}
.about .tulisan a{
    text-decoration: none;
    color: #000000;
}
.about .tulisan{
    color: #000000;
}

@media (max-width : 500px){
    .photo{
        flex-shrink: 1;
    }
    .about{
        padding: 3rem 2rem;
    }
    .about2 .tulisan p{
        max-width: 100vw;
    }
}

@media (max-width : 1075px){
   .about2 .tulisan p{
       max-width: 100vw;
    }
}





.photo2 img{
    max-width: 300px;
    padding: 2rem;
    padding-top: 2.6rem;
}
.experiences{
    background-color: #005073;
    padding: 3rem 4rem;
}
.experiences2 .tulisan{
    font-size: 1.5rem;
}
.experiences .judulexp{
    font-family: 'Montserrat', sans-serif;
    color: #FBFDFB;
    padding-bottom: 2rem;
}
.experiences .instansi{
    font-size: 2.3rem;
    font-weight: 700;
    padding: 2rem 0;
}
.experiences2{
    padding: 1rem 0;
}
.experiences .tulisan a{
    text-decoration: none;
    color: #FBFDFB;
}
.penjelasan{
    max-width: 700px;
}






.portofolio{
    padding: 3rem 4rem;
}
.portofolio .judulporto{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding-bottom: 1rem;
}
.overflow {
    width: 80%;
    overflow-x: scroll;
}
.overflow .card{
    display: flex;
    align-items: flex-start;
    border: none;
}
.photoporto{
    margin: 0% 2% 0% 0%;
}
.photoporto.last{
    margin: 0%;
}
.photoporto img{
    max-width: 350.88px;
    height: auto;
}
.portofolio .navbar-nav{
    padding-top: 3rem;
}
.portofolio .tulisan a{
    text-decoration: none;
    color: #000000;
}
.portofolio .tulisan{
    color: #000000;
}
@media (max-width : 500px){
    .portofolio{
        padding: 3rem 2rem;
    }
}
    


.contact{
    background-color: #005073;
}
.contact2{
    align-items: center;
}
.contact .tulisan a{
    text-decoration: none;
    color: #FBFDFB;
}
.contact .tulisan{
    color: #FBFDFB;
}

.contact .tulisan p{
    color: #FBFDFB;
    font-size: 3rem;
    padding: 0 1rem 0 1rem;
}
.contact .judulcontact{
    font-family: 'Montserrat', sans-serif;
    color: #FBFDFB;
    padding-bottom: 1.2rem;
    padding-top: 3rem;
}
.contact .contact2 .tulisan{
    max-width: 582px;
    max-height: auto;
    font-size: 3rem;
    text-align: left;
    margin-left: 2rem;
}
.contact .contact2 .photo{
    margin-left: 0;
}
.contact ul{
    list-style: none;
}
.contact li{
    display: inline;
}
.contact li a{
    padding: 30px;
    font-size: 5rem;
    color: #000000;
}
@media (max-width : 500px){
    .contact{
        padding: 3rem 2rem;
    }
    .contact .contact2 .tulisan{
        margin-right: 0;
        text-align: center;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .contact li a{
        padding: 30px;
        font-size: 4rem;
        color: #000000;
    }
    .contact .tulisan p{
        color: #FBFDFB;
        font-size: 2rem;
    }
    .navbar-nav .tulisan{
        font-size: 1rem;
    }
    .navbar-nav{
        padding: 0;
    }
}



#Home .tulisan a:hover{
    border-bottom: #FBFDFB;
    border-bottom-style: solid;
    border-width: 4px;
}
#Experience .tulisan a:hover{
    border-bottom: #FBFDFB;
    border-bottom-style: solid;
    border-width: 4px;
}
#Contact .tulisan .bottomnav:hover{
    border-bottom: #FBFDFB;
    border-bottom-style: solid;
    border-width: 4px;
}
#About .tulisan a:hover{
    border-bottom: #005073;
    border-bottom-style: solid;
    border-width: 4px;
}
#Portofolio .tulisan a:hover{
    border-bottom: #005073;
    border-bottom-style: solid;
    border-width: 4px;
}

/* portofolio */
.porto{
    padding: 48px 48px 0px 48px;
}
.porto2{
    width: 100%;
    padding: 43px 0 0 0;
}
.porto img{
    width: 200px;
    transition: 0.3s;
    margin-top: 10px;
}
.porto img:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px black;
    transition: 0.5s;
}
.porto3{
    width: 100%;
    padding: 15px 0 0 0;
}
#first{
    padding-left: 15px;
}