<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Naufal Hilmi Irfandi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Italianno|Montserrat:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5ac12ca84.js"></script>
</head>
<body>
    <div class="home" id="Home">
        <div class="position-relative overflow-hidden text-center">
            <div class="x-auto my-5">

                <div class="header">
                    <p class="tulisan">My Personal Website</p>    
                </div>
                
                <h1 class="judul">Naufal Hilmi Irfandi</h1>

                <div class="navbar-nav">
                    <p class="tulisan"><a class="bottomnav" href="#About">About</a> / <a class="bottomnav" href="#Experience">Experiences</a> / <a class="bottomnav" href="#Portofolio">Portofolio</a> / <a class="bottomnav" href="#Contact">Contact</a> / <a class="bottomnav" href="jadwal/">Jadwal</a></p>
                </div>

            </div>

        </div>
    </div>

    

    <div class="about" id="About">
        <div class="position-relative overflow-hidden text-center">
            <div class="x-auto my-5">
                <div class="about2 d-flex flex-wrap justify-content-around">
                    <div class="photo">
                        <img src="{% static 'image/115230.jpg' %}" alt="Naufal Hilmi Irfandi">
                    </div>
                    <div class="tulisan">
                        <h1><b>About Me,</b></h1>
                        <p>Halo kenalin nama saya Naufal Hilmi Irfandi. Saya lahir di Jepara Jawa Tengah tanggal 12 April 2000. Saya berkuliah
                        di Universitas Indonesia jurusan Ilmu Komputer, saya angkatan 2018 Quanta. Saya memiliki hobi dan minat di dunia Design seperti visual design dan design product. </p>
                    </div>
                </div>
                <div class="navbar-nav">
                    <p class="tulisan"><a class="bottomnav" href="#About">About</a> / <a class="bottomnav" href="#Experience">Experiences</a> / <a class="bottomnav" href="#Portofolio">Portofolio</a> / <a class="bottomnav" href="#Contact">Contact</a> / <a class="bottomnav" href="jadwal/">Jadwal</a> / <a class="bottomnav" href="#Home">Home</a></p>
                </div>
            </div>
        </div>
    </div>



    <div class="experiences d-flex flex-column bd-highlight align-items-center" id="Experience">
        <div class="judulexp d-flex justify-content-center">
            <h1><b>My Experiences</b></h1>
        </div>
        <div class = "experiences2 d-flex flex-wrap justify-content-around">
            <div class="photo2">
                <img src="{% static 'image/BI.png' %}" alt="Bank Indonesia">
            </div>
            <div class="tulisan">
                <p class="instansi" style="margin: 0;">Bank Indonesia</p>
                <p class="penjelasan">Alhamdulillah suatu pengalaman bagi saya untuk bisa mengikuti kegiatan magang yang diadakan oleh Bank Indonesia. Di BI, saya menjadi bagian di Departemen Pengelolaan dan Kepatuhan Laporan dimana saya membantu departemen tersebut dalam pembuatan sistem yang mendukung departemen tersebut.</p>
            </div>
        </div>
        <div class = "experiences2 d-flex flex-wrap justify-content-around">
            <div class="photo2">
                <img src="{% static 'image/Fasilkom.png' %}" alt="Fasilkom UI">
            </div>
            <div class="tulisan">
                <p class="instansi" style="margin: 0;">Fasilkom Universitas Indonesia</p>
                <p class="penjelasan">Masuk ke Fakultas Ilmu Komputer UI merupakan suatu kehormatan bagi saya. Dari Fasilkom lah saya mempelajari banyak hal seputar IT mulai dari bagaimana membuat suatu program hingga bagaimana jalannya suatu komputer.</p>
            </div>
        </div>
        <div class = "experiences2 d-flex flex-wrap justify-content-around">
            <div class="photo2">
                 <img src="{% static 'image/Bem.png' %}" alt="BEM Fasilkom">
            </div>
            <div class="tulisan">
                <p class="instansi" style="margin: 0;">BEM Fasilkom UI</p>
                <p class="penjelasan">Saya bergabung di BEM Fasilkom UI dimana saya bergabung di Biro Media dimana saya membantu Departemen Olahraga dalam melakukan publikasi seperti membuat poster untuk acara Departemen Olahraga. Adapun saya membantu dalam pembuatan video Company Profile BEM Fasilkom UI 2019. </p>
            </div>
        </div>
        <div class = "experiences2 d-flex flex-wrap justify-content-around">
            <div class="photo2">
                <img src="{% static 'image/Compfest.png' %}" alt="COMPFEST">
            </div>
            <div class="tulisan">
                <p class="instansi" style="margin: 0;">COMPFEST</p> 
                <p class="penjelasan">Di COMPFEST saya bergabung di divisi Direct Marketing dimana saya melakukan kegiatan seperti menjadi MC pada acara-acara COMPFEST, mengundang segala pihak untuk ikut bergabung di acara COMPFEST ini. Disini saya berlatih Public Speaking dan juga cara berkomunikasi dengan orang lain.</p>    
            </div>
        </div>
        <div class = "experiences2 d-flex flex-wrap justify-content-around">
            <div class="photo2">
                <img src="{% static 'image/Smansa.png' %}" alt="SMA Negeri 1 Bogor">
            </div>
            <div class="tulisan">
                <p class="instansi" style="margin: 0;">SMA Negeri 1 Bogor</p>   
                <p class="penjelasan">Disini saya pertama kali merasakan bagaimana saya bergabung dalam dunia organisasi, dimana saya melatih diri saya untuk bekerja sama dengan banyak jenis orang. Disini juga saya mengasah ilmu-ilmu pendukung untuk dunia perkuliahan.</p>  
            </div>
        </div>

        <div class="position-relative overflow-hidden text-center">
            <div class="x-auto my-5">
                <div class="navbar-nav">
                    <p class="tulisan"><a class="bottomnav" href="#About">About</a> / <a class="bottomnav" href="#Experience">Experiences</a> / <a class="bottomnav" href="#Portofolio">Portofolio</a> / <a class="bottomnav" href="#Contact">Contact</a> / <a class="bottomnav" href="jadwal/">Jadwal</a> /  <a class="bottomnav" href="#Home">Home</a></p>
                </div>
            </div>
        </div>
    </div>



    <div class="portofolio d-flex flex-column bd-highlight align-items-center" id="Portofolio">
        <div class="judulporto d-flex justify-content-center">
            <h1><b>Portofolio</b></h1>
        </div>
        <div class="overflow">
            <div class="row flex-row flex-nowrap">
                <div class="photoporto" id="first">
                    <div class="card card-block">
                        <img src="{% static 'image/IG.png' %}" alt="Photo">
                    </div>
                </div>
                <div class="photoporto">
                    <div class="card card-block">
                        <img src="{% static 'image/Selamat hari or.png' %}" alt="Photo">
                    </div>
                </div>
                <div class="photoporto">
                    <div class="card card-block">
                        <img src="{% static 'image/LBM-01.png' %}" alt="Photo">
                    </div>
                </div>
                <div class="photoporto">
                    <div class="card card-block">
                        <img src="{% static 'image/EBL.png' %}" alt="Photo">
                    </div>
                </div>
                <div class="photoporto">
                    <div class="card card-block">
                        <img src="{% static 'image/Kanan.png' %}" alt="Photo">
                    </div>
                </div>
                <div class="photoporto last">
                    <div class="card card-block">
                        <a class="photoporto2" href="{% url 'naufal_profile:porto' %}" target="_blank"><img src="{% static 'image/IG-2.png' %}" alt="Photo"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="position-relative overflow-hidden text-center">
            <div class="x-auto my-5">
                <div class="navbar-nav">
                    <p class="tulisan"><a class="bottomnav" href="#About">About</a> / <a class="bottomnav" href="#Experience">Experiences</a> / <a class="bottomnav" href="#Portofolio">Portofolio</a> / <a class="bottomnav" href="#Contact">Contact</a> / <a class="bottomnav" href="jadwal/">Jadwal</a> / <a class="bottomnav" href="#Home">Home</a></p>
                </div>
            </div>
        </div>
    </div>



    <div class="contact" id="Contact">
        <div class="position-relative overflow-hidden text-center">
            <div class="judulcontact d-flex justify-content-center">
                <h1><b>My Contact</b></h1>
            </div>

            <div class="contact2 d-flex flex-wrap justify-content-around">
                <div class="tulisan">
                    <p>Jika membutuhkan saya, dapat melalui kontak saya dibawah ini</p>
                    <ul class="d-flex justify-content-center">
                        <li><a href= "https://twitter.com/naufalirfandi" target = "_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href= "https://linkedin.com/in/naufal-hilmi-irfandi-25aaa8171" target = "_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href= "https://www.instagram.com/naufalirfandi/" target = "_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="photo">
                    <img src="{% static 'image/115232.jpg' %}" alt="Naufal Hilmi Irfandi">
                </div>
            </div>

            <div class="x-auto my-5">
                <div class="navbar-nav">
                    <p class="tulisan"><a class="bottomnav" href="#About">About</a> / <a class="bottomnav" href="#Experience">Experiences</a> / <a class="bottomnav" href="#Portofolio">Portofolio</a> / <a class="bottomnav" href="#Contact">Contact</a> / <a class="bottomnav" href="jadwal/">Jadwal</a> / <a class="bottomnav" href="#Home">Home</a></p>
                </div>
            </div>
        </div>
    </div>


    <script src="bootstrap-4.3.1-dist\js\jquery.min.js"></script>
    <script src="bootstrap-4.3.1-dist\js\popper.min.js"></script>
    <script src="bootstrap-4.3.1-dist\js\bootstrap.min.js"></script>
</body>
</html>