<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Portofolio Naufal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Italianno|Montserrat:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5ac12ca84.js"></script>
</head>
<body>
    <div class="porto d-flex flex-column bd-highlight align-items-center">
        <div class="judulporto d-flex justify-content-center">
            <h1><b>Portofolio</b></h1>
        </div>
        <div class="porto2 d-flex flex-wrap justify-content-center">
            <div class="photoporto">
                <img src="{% static 'image/Kanan.png' %}" alt="Portofolio">
            </div>
            <div class="photoporto">
                <img src="{% static 'image/Selamat hari or.png' %}" alt="Portofolio">
            </div>
            <div class="photoporto">
                <img src="{% static 'image/Quanta.png' %}" alt="Portofolio">
            </div>
            <div class="photoporto">
                <img src="{% static 'image/Sport Fun Fact-01.png' %}" alt="Portofolio">
            </div>
            <div class="photoporto last">
                <img src="{% static 'image/Jadwal CSTTC-01.png' %}" alt="Portofolio">
            </div>
        </div>
        <div class="porto3 d-flex flex-wrap justify-content-center">
            <div class="photoporto">
                <img src="{% static 'image/IG.png' %}" alt="Portofolio">
            </div>
            <div class="photoporto">
                <img src="{% static 'image/IG (2).png' %}" alt="Portofolio">
            </div>
            <div class="photoporto">
                <img src="{% static 'image/LBM-01.png' %}" alt="Portofolio">
            </div>
            <div class="photoporto">
                <img src="{% static 'image/EBL.png' %}" alt="Portofolio">
            </div>
            <div class="photoporto last">
                <img src="{% static 'image/Sport Fun Fact2-01.png' %}" alt="Portofolio">
            </div>
        </div>
    </div>
</body>
</html>